# Created by https://www.gitignore.io/api/osx,linux,windows

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### OSX ###
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Windows ###
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# End of https://www.gitignore.io/api/osx,linux,windows


# =========================
# WoW related files
# =========================

# Exclude everything
*

# Retroactively include files
!README.md
!WTF
!WTF/*
WTF/Config.wtf

!WTF/Account/ACCOUNT_NAME_IN_CAPS
WTF/Account/ACCOUNT_NAME_IN_CAPS/*
!WTF/Account/ACCOUNT_NAME_IN_CAPS/*/
WTF/Account/ACCOUNT_NAME_IN_CAPS/SavedVariables/*

# Global config files
!WTF/Account/ACCOUNT_NAME_IN_CAPS/SavedVariables/MikScrollingBattleText.lua
!WTF/Account/ACCOUNT_NAME_IN_CAPS/SavedVariables/Opium.lua
!WTF/Account/ACCOUNT_NAME_IN_CAPS/SavedVariables/SuperMacro.lua
!WTF/Account/ACCOUNT_NAME_IN_CAPS/SavedVariables/vQueue.lua
!WTF/Account/ACCOUNT_NAME_IN_CAPS/SavedVariables/WIM.lua

# Character based config files
!WTF/Account/ACCOUNT_NAME_IN_CAPS/Realm_Name/Character_Name
WTF/Account/ACCOUNT_NAME_IN_CAPS/Realm_Name/Character_Name/*
!WTF/Account/ACCOUNT_NAME_IN_CAPS/Realm_Name/Character_Name/*/
!WTF/Account/ACCOUNT_NAME_IN_CAPS/Realm_Name/Character_Name/AddOns.txt
!WTF/Account/ACCOUNT_NAME_IN_CAPS/Realm_Name/Character_Name/layout-cache.txt

WTF/Account/ACCOUNT_NAME_IN_CAPS/Realm_Name/Character_Name/SavedVariables/*
!WTF/Account/ACCOUNT_NAME_IN_CAPS/Realm_Name/Character_Name/SavedVariables/Atlas.lua
!WTF/Account/ACCOUNT_NAME_IN_CAPS/Realm_Name/Character_Name/SavedVariables/AtlasLoot.lua
!WTF/Account/ACCOUNT_NAME_IN_CAPS/Realm_Name/Character_Name/SavedVariables/KLHThreatMeter.lua
!WTF/Account/ACCOUNT_NAME_IN_CAPS/Realm_Name/Character_Name/SavedVariables/Outfitter.lua
!WTF/Account/ACCOUNT_NAME_IN_CAPS/Realm_Name/Character_Name/SavedVariables/pfUI.lua
!WTF/Account/ACCOUNT_NAME_IN_CAPS/Realm_Name/Character_Name/SavedVariables/VanillaGuide.lua

# Addon files
!Interface
!Interface/AddOns
!Interface/AddOns/**
Interface/AddOns/Blizzard_*
Interface/AddOns/VF_*
Interface/AddOns/WebDKP
