[submodule "Interface/AddOns/pfUI"]
	path = Interface/AddOns/pfUI
	url = git://github.com/shagu/pfUI
[submodule "Interface/AddOns/DPSMate"]
	path = Interface/AddOns/DPSMate
	url = https://github.com/Geigerkind/DPSMate
[submodule "Interface/AddOns/HealComm"]
	path = Interface/AddOns/HealComm
	url = https://github.com/Aviana/HealComm
[submodule "Interface/AddOns/WIM"]
	path = Interface/AddOns/WIM
	url = https://github.com/shirsig/WIM
[submodule "Interface/AddOns/Samuel"]
	path = Interface/AddOns/Samuel
	url = https://github.com/Terrub/Samuel
[submodule "Interface/AddOns/aux-addon"]
	path = Interface/AddOns/aux-addon
	url = https://github.com/shirsig/aux-addon
[submodule "Interface/AddOns/_LP"]
	path = Interface/AddOns/_LP
	url = https://github.com/satan666/_LP
[submodule "Interface/AddOns/vQueue"]
	path = Interface/AddOns/vQueue
	url = https://github.com/Devlix/vQueue
[submodule "Interface/AddOns/SW_Stats-Vanilla"]
	path = Interface/AddOns/SW_Stats-Vanilla
	url = https://github.com/Zerf/SW_Stats-Vanilla
