# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# =========================
# WoW related files
# =========================

# Exclude everything
*

# Retroactively include files
!README.md
!WTF
!WTF/*
WTF/Config.wtf

!WTF/Account/ACCOUNT_NAME_IN_CAPS
WTF/Account/ACCOUNT_NAME_IN_CAPS/*
!WTF/Account/ACCOUNT_NAME_IN_CAPS/*/
WTF/Account/ACCOUNT_NAME_IN_CAPS/SavedVariables/*

# Global config files
!WTF/Account/ACCOUNT_NAME_IN_CAPS/SavedVariables.lua
!WTF/Account/ACCOUNT_NAME_IN_CAPS/SavedVariables/AtlasLoot.lua
!WTF/Account/ACCOUNT_NAME_IN_CAPS/SavedVariables/La_Vendetta_Boss_Mods.lua
!WTF/Account/ACCOUNT_NAME_IN_CAPS/SavedVariables/LunaUnitFrames.lua
!WTF/Account/ACCOUNT_NAME_IN_CAPS/SavedVariables/MetaMap.lua
!WTF/Account/ACCOUNT_NAME_IN_CAPS/SavedVariables/MikScrollingBattleText.lua
!WTF/Account/ACCOUNT_NAME_IN_CAPS/SavedVariables/Opium.lua
!WTF/Account/ACCOUNT_NAME_IN_CAPS/SavedVariables/Prat.lua
!WTF/Account/ACCOUNT_NAME_IN_CAPS/SavedVariables/vQueue.lua
!WTF/Account/ACCOUNT_NAME_IN_CAPS/SavedVariables/WIM.lua

# Character based config files
!WTF/Account/ACCOUNT_NAME_IN_CAPS/Realm_Name/Character_Name
WTF/Account/ACCOUNT_NAME_IN_CAPS/Realm_Name/Character_Name/*
!WTF/Account/ACCOUNT_NAME_IN_CAPS/Realm_Name/Character_Name/*/
!WTF/Account/ACCOUNT_NAME_IN_CAPS/Realm_Name/Character_Name/AddOns.txt
!WTF/Account/ACCOUNT_NAME_IN_CAPS/Realm_Name/Character_Name/chat-cache.txt
!WTF/Account/ACCOUNT_NAME_IN_CAPS/Realm_Name/Character_Name/layout-cache.txt

WTF/Account/ACCOUNT_NAME_IN_CAPS/Realm_Name/Character_Name/SavedVariables/*
!WTF/Account/ACCOUNT_NAME_IN_CAPS/Realm_Name/Character_Name/SavedVariables/Atlas.lua
!WTF/Account/ACCOUNT_NAME_IN_CAPS/Realm_Name/Character_Name/SavedVariables/KLHThreatMeter.lua
!WTF/Account/ACCOUNT_NAME_IN_CAPS/Realm_Name/Character_Name/SavedVariables/SW_Stats.lua
!WTF/Account/ACCOUNT_NAME_IN_CAPS/Realm_Name/Character_Name/SavedVariables/VanillaGuide.lua

# Addon files
!Interface
!Interface/AddOns
!Interface/AddOns/**
Interface/AddOns/Blizzard_*
Interface/AddOns/VF_*
