[submodule "Interface/AddOns/WIM"]
	path = Interface/AddOns/WIM
	url = https://github.com/shirsig/WIM
[submodule "Interface/AddOns/LP"]
	path = Interface/AddOns/LP
	url = https://github.com/satan666/_LP
[submodule "Interface/AddOns/crafty"]
	path = Interface/AddOns/crafty
	url = https://github.com/shirsig/crafty
[submodule "Interface/AddOns/Decursive"]
	path = Interface/AddOns/Decursive
	url = https://github.com/Zerf/Decursive
[submodule "Interface/AddOns/Aux-Addon"]
	path = Interface/AddOns/aux-addon
	url = https://github.com/shirsig/aux-addon
[submodule "Interface/AddOns/WebDKP"]
	path = Interface/AddOns/WebDKP
	url = https://github.com/webdkpthroaway/WebDKP_Elysium
[submodule "Interface/AddOns/BigWigs"]
	path = Interface/AddOns/BigWigs
	url = https://github.com/Hosq/BigWigs
[submodule "Interface/AddOns/SimpleCombatLog"]
	path = Interface/AddOns/SimpleCombatLog
	url = https://github.com/Road-block/SimpleCombatLog
[submodule "Interface/AddOns/TotemTimers-Enhanced"]
	path = Interface/AddOns/TotemTimers
	url = https://github.com/MOUZU/TotemTimers-Enhanced
[submodule "Interface/AddOns/Mail"]
	path = Interface/AddOns/Mail
	url = https://github.com/shirsig/Mail
[submodule "Interface/AddOns/SortBags"]
	path = Interface/AddOns/SortBags
	url = https://github.com/shirsig/SortBags
[submodule "Interface/AddOns/HealComm"]
	path = Interface/AddOns/HealComm
	url = https://github.com/Aviana/HealComm
[submodule "Interface/AddOns/Banana"]
	path = Interface/AddOns/Banana
	url = https://github.com/Hosq/Banana
[submodule "Interface/AddOns/VanillaGuide"]
	path = Interface/AddOns/VanillaGuide
	url = https://github.com/osthoma/VanillaGuide
[submodule "Interface/AddOns/vQueue"]
	path = Interface/AddOns/vQueue
	url = https://github.com/laytya/vQueue
[submodule "Interface/AddOns/RABuff"]
	path = Interface/AddOns/RABuffs/
	url = https://github.com/TheRealYasri/RABuffs
[submodule "Interface/AddOns/TankBuddyEnh"]
	path = Interface/AddOns/TankBuddyEnh
	url = https://github.com/Hosq/TankBuddyEnh
[submodule "Interface/AddOns/pfUI"]
	path = Interface/AddOns/pfUI
	url = https://gitlab.com/shagu/pfUI
[submodule "Interface/AddOns/ShaguInventory"]
	path = Interface/AddOns/ShaguInventory
	url = https://gitlab.com/shagu/ShaguInventory
[submodule "Interface/AddOns/RABuffs"]
	path = Interface/AddOns/RABuffs
	url = https://github.com/TheRealYasri/RABuffs
[submodule "Interface/AddOns/pfUI-eliteoverlay"]
	path = Interface/AddOns/pfUI-eliteoverlay
	url = https://gitlab.com/shagu/pfUI-eliteoverlay/
