[submodule "Interface/AddOns/pfUI"]
	path = Interface/AddOns/pfUI
	url = git://github.com/shagu/pfUI
[submodule "Interface/AddOns/HealComm"]
	path = Interface/AddOns/HealComm
	url = https://github.com/Aviana/HealComm
[submodule "Interface/AddOns/WIM"]
	path = Interface/AddOns/WIM
	url = https://github.com/shirsig/WIM
[submodule "Interface/AddOns/LP"]
	path = Interface/AddOns/LP
	url = https://github.com/satan666/_LP
[submodule "Interface/AddOns/vQueue"]
	path = Interface/AddOns/vQueue
	url = https://github.com/Devlix/vQueue
[submodule "Interface/AddOns/VanillaGuide"]
	path = Interface/AddOns/VanillaGuide
	url = https://github.com/rsheep/VanillaGuide
[submodule "Interface/AddOns/Postal"]
	path = Interface/AddOns/Postal
	url = https://github.com/shirsig/Postal
[submodule "Interface/AddOns/crafty"]
	path = Interface/AddOns/crafty
	url = https://github.com/shirsig/crafty
[submodule "Interface/AddOns/Decursive"]
	path = Interface/AddOns/Decursive
	url = https://github.com/Zerf/Decursive
[submodule "Interface/AddOns/Auctioneer"]
	path = Interface/AddOns/Auctioneer
	url = https://github.com/Zerf/Auctioneer-Vanilla
[submodule "Interface/AddOns/Aux-Addon"]
	path = Interface/AddOns/Aux-Addon
	url = https://github.com/shirsig/aux-addon
[submodule "Interface/AddOns/Clean_Up"]
	path = Interface/AddOns/Clean_Up
	url = https://github.com/shirsig/Clean_Up
[submodule "Interface/AddOns/Aurae"]
	path = Interface/AddOns/ccwatch
	url = https://github.com/shirsig/aurae
[submodule "Interface/AddOns/WebDKP"]
	path = Interface/AddOns/WebDKP
	url = https://github.com/webdkpthroaway/WebDKP_Elysium
[submodule "Interface/AddOns/DebuffTimers"]
	path = Interface/AddOns/DebuffTimers
	url = https://github.com/Voidmenull/DebuffTimers
